
*{
    margin: 0%;
    padding: 0%;
}
body,html{
    height: 100%;
    width: 100%;
   background-color: red;
}
.black{
    background-color:red;
    position: fixed;
   top: 0%;
   width: 100%;
   border-radius: 20px;
   border: 2px solid black;
}
.black ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.black li{
    list-style: none;
    padding: 20px;
}
.black li a{
    text-decoration: none;
    color: white;
    font-size: x-large;
}
.black li i{
    font-size: 35px;
    border-radius: 15px;
    background-color: white;
    color: black;
    margin-top: 100px;
}

.black li:hover{
    background-color: black;
    
    border: solid white 2px;
}
#container{
    height: 89.3%;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
#fake{
    height: 10.7%;
    width: 100%;
}


#box{
    
   
    height: 500px;
    width: 400px;
    background-color: black;
    grid-gap: 3px;
    border: 5px solid white;
   
}
input{
    height: 100px;
    width: 100%;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box1{
 height: 100px;
 width: 100%;
}
button{
    height: 96px;
    width: 96px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 30px;
    border: solid 2px white;
}

